.screen_container {
  width: calc(100% - 100px);
  height: 100%;
  background-color: #1e2a3e;
  border-radius: 30px;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #233656 60px 
    ),
    repeating-linear-gradient(#1e2a3e55, #1e2a3e);
}


.flex {
  display: flex;
}