.player_body {
    width: 100%;
    height: 44%;
    display: flex;
    margin: 2% 0%;
}

.player_left_body {
    width: 37%;
}

.player_right_body {
    width: 63%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.song_duration {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.song_title {
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    margin: 0px;
    color: #C4D0E3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.song_artist {
    color: #9AA9C2;
    font-size: 14px;
    font-weight: 500;
}

.player_right_button {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.duration {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    color: #C4D0E3;
}