.entry_body {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 10%;
}

.entry_image {
    height: 50px;
    width: 50px;
    border-radius: 15px;
    margin-right: 10px;
}

.entry_right_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.entry_title {
    font-weight: 700;
    font-size: 12px;
    color: #C9D0E3;
    margin: 0px 0px;
}

.entry_subtitle {
    font-weight: 400;
    font-size: 12px;
    color: #c4d0e37c;
}